/* .App{
  background-image: url(./assets/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: -1;
}
.App2{
  background-image: url(./assets/image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: -1;
} */